<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eta" href="/tabs/eta">
      <ion-icon aria-hidden="true" name="bus"></ion-icon>
      <ion-label>ETA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
