<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bus Route List</ion-title>
    <ion-buttons slot="end">
        <ion-button id="open-region-sheet">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bus Route List</ion-title>
      <ion-buttons slot="end">
          <ion-button id="open-region-sheet1">
              <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
        <ion-label>Item 1</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-label>HELLO</ion-label> -->
</ion-content>

<ion-action-sheet trigger="open-region-sheet" header="Region" [buttons]="regionActionSheetButtons" (didDismiss)="selectRegion($event)"></ion-action-sheet>
<ion-action-sheet trigger="open-region-sheet1" header="Region" [buttons]="regionActionSheetButtons" (didDismiss)="selectRegion($event)"></ion-action-sheet>

<ion-action-sheet [isOpen]="routeIsOpen" [header]="selectedRegion" [buttons]="regionRouteActionSheetButtons" (didDismiss)="selectRoute($event)"></ion-action-sheet>
<ion-action-sheet [isOpen]="directionIsOpen" [header]="selectedRoute?.route_code" [buttons]="routeDirectionActionSheetButtons" (didDismiss)="selectRoute($event)"></ion-action-sheet>

<ion-loading [isOpen]="isLoading"></ion-loading>